@import '~antd/dist/antd.css';
.site-layout .site-layout-background {
    background: #fff;
  }
.site-layout-content {
  min-height: 280px;
  padding: 12px;
  background: #fff;
}
.userName{
  background: #fff;
  padding-right: 32px;
  padding-top: 10px;
  text-align: right;
  height: 40px;
}